{% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleksander Rząca- Contact</title>
</head>
{% block content %}
    <body>
        <header>
            <form action="" method="post">

                {{ form.csrf_token }}

                <p>Contact with me. I will try to respond you as soon as possible.</p>
                <p>If healf or life yours pet is in danger- call me: 123-456-789</p>
                <br>
                <p></p>
                <p>{{ form.email.label }}</p>
                <p>{{ form.email }}</p>
                <p></p>
                <p>{{ form.message.label }}</p>
                <p>{{ form.message }}</p>
                <p></p>
                <p>{{ form.accept.label }}</p>
                <p>{{ form.accept }}</p>
                <p></p>
                <p>{{ form.submit }}</p>
            </form>
        </header>
        
    </body>
    </html>
{% endblock %}