{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vet</title>
    </head>
    <body>
        <img src="static/images/main.jpg" width=1100>
    <header>
        <p>
            Hi! I am Vet and here you can set our meeting with yours pet, ask me... cdn.
        </p>
    </header>
</body>
</html>

{% endblock %}